body{
	/*background-color: rgba(120,150,120,0.5);*/
}

.cgrey{
	background-color: rgba(100,100,100,0.5);
}

.myfooter{
	margin: 50px 1px 1px 1px;
	background-color: rgba(100,100,100,0.5);
}

.main {
	margin-top: 80px;
}

.logo{
	background-color: rgba(100,100,100,0.5);
	padding: 5px 20px;
	color: orange;
	box-shadow: 5px 5px 0 black;
	border-radius: 5px;
}
.logo:hover{
	background-color: rgba(170,170,170,0.4);
}

.onglet{
	background-color: rgba(100,100,100,0.5);
	padding: 5px 20px;
	color: #fff;
	box-shadow: 5px 5px 0 black;
	border-radius: 5px;
}

.onglet:hover{
	background-color: rgba(170,170,170,0.4);
	border-bottom: 3px solid red;
}

.active{
	box-shadow: 3px 3px 0 green;
}

.errors{
	font-style: italic;
	color: red;
	font-size: 0.8em;
}